* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  color: white;
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: linear-gradient(rgba(0, 8, 51, 0.9), rgba(0, 8, 51, 0.9)),
    url(images/bookshelf.png);

  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input {
  background: transparent;
  flex: 1;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
  border-radius: 60px;
  border-color: transparent;
}
::placeholder {
  color: #cac7ff;
}
.search-bar button img {
  width: 25px;
}
.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}
.shortcuts button {
  background-color: white;
  font-size: large;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100cm;
}
.a {
  background-color: blue;
}
.contianer {
  background-color: blue;
  align-items: center;
}
